
        body{
            background-color: #25455B;
        }

        h1 {
            font-family: 'Poiret One', sans-serif;
            color: #D9D9D9;

        }

        h3 {
            font-family: 'Poiret One', sans-serif;
            color: #D9D9D9;
        }

        ul {
            font-family: 'Poiret One', sans-serif;
            color: #D9D9D9;
        }

        p {
            font-family: 'Poiret One', sans-serif;
            color: #D9D9D9;
        }