
        body{
            background-color: #142531;
        }

        h1 {
            font-family: 'Poiret One', sans-serif;
            color: #E7D1B1;

        }

        h3 {
            font-family: 'Poiret One', sans-serif;
            color: #E7D1B1;
        }

        ul {
            font-family: 'Poiret One', sans-serif;
            color: #E7D1B1;
        }

        p {
            font-family: 'Poiret One', sans-serif;
            color: #E7D1B1;
        }